@import "..//styles/_mixins.scss";

.hero {
  min-height: 630px;
  @include sectionIndent(41px, 68px);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.main-img {
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.content {
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__hashtag {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__text {
    position: absolute;
    bottom: 60px;
    left: 60px;
    max-width: 427px;
  }

  &__description {
    display: block;
    line-height: 16px;
    color: var(--white);
    margin-bottom: 3px;
  }

  &__title {
    margin-bottom: 19px !important;
    @include text(700, 36px, 37px);
    color: var(--white);
  }

  &__button {
    display: block;
    color: var(--white);
  }
}

.pictures {
  position: relative;

  &__title {
    display: block;
  }

  &__list {
    position: absolute;
    bottom: 0;
  }
}

.list-2-halves {
  display: grid;
  grid-template-rows: 1fr 257px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  &__item {
    &:first-child {
      grid-column: 1/3;
    }
  }
}

@media (max-width: 1325px) {
  .hero {
    &__container {
      padding: 0;
      max-width: 964px;
    }
  }

  .list-2-halves {
    grid-template-rows: 1fr 186px;
  }

  .content {
    &__text {
      bottom: 30px;
      left: 30px;
    }

    &__title {
      margin-bottom: 20px !important;
      @include text(700, 34px, 34px);
      color: var(--white);
    }

    &__description {
      margin-bottom: 8px;
    }
  }

  @media (max-width: 1000px) {
    .hero {
      &__container {
        max-width: 714px;
      }
    }

    .list-2-halves {
      grid-template-rows: 1fr 133px;
    }

    .content {
      &__text {
        max-width: 239px;
      }

      &__title {
        margin-bottom: 20px !important;
        @include text(700, 34px, 30px);
        color: var(--white);
      }

      &__description {
        margin-bottom: 14px;
      }
    }

    @media (max-width: 756px) {
      .hero {
        &__container {
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          gap: 34px;
          max-width: 465px;
        }
      }

      .content {
        &__text {
          max-width: 427px;
        }

        &__title {
          margin-bottom: 20px !important;
          @include text(700, 34px, 34px);
          color: var(--white);
        }
      }

      .list-2-halves {
        grid-template-rows: 1fr 186px;
      }

      @media (max-width: 510px) {
        .hero {
          &__container {
            max-width: 278px;
            grid-template-rows: 1fr .9fr;
          }
        }

        .content {
          &__hashtag {
            top: 5px;
            right: 5px;
          }

          &__text {
            max-width: 169px;
          }

          &__title {
            margin-bottom: 14px !important;
            @include text(700, 24px, 26px);
          }
        }

        .list-2-halves {
          grid-template-rows: 1fr 105px;
        }
      }
    }
  }
}